apiVersion: v1
kind: Config
current-context: admin-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ kube_cacert.stdout }}
    server: {{ external_apiserver_endpoint }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: admin-{{ cluster_name }}
  name: admin-{{ cluster_name }}
users:
- name: admin-{{ cluster_name }}
  user:
    client-certificate-data: {{ kube_admin_cert.stdout }}
    client-key-data: {{ kube_admin_key.stdout }}
